<html>
<head>
    <title>Contact us</title>
</head>
<body>
	{{ form }}
	{% if errors %}
		<ul>
			{% for error in errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
    {% endif %}
    <!--<form action="/contacts/thanks/" method="post">
        <p>Subject: <input type="text" name="subject"></p>
		<p>Your e-mail (optional): <input type="text" name="email"></p>
        <p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
		<p>File: <input type="text" name="file"></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>